<style>
  .body {
    margin: auto;
    width: 50%;
  }
  td {
    vertical-align: top;
  }
</style>

<div class="body">
  <table>
    <tbody>
      <tr>
        <td>
          <img src="assets/profile.jpg" style="width:300px;">
        </td>
        <td style="vertical-align: middle;">
          <h1>Karsten Roland</h1><br>
          <h2>Programmer. Philosopher. Philanthropist.</h2>
        </td>
      </tr>
    </tbody>
  </table>
  <table>
    <tbody>
      <tr>
        <td>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Object-Oriented Languages
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p>
              C/C++<br>
              Java<br>
              Python<br>
              Kotlin<br>
            </p>
          </mat-expansion-panel>
        </td>
        <td>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Development Environments
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p>
              IntelliJ<br>
              Eclipse<br>
              Visual Studio 2022<br>
              Visual Studio Code<br>
            </p>
          </mat-expansion-panel>
        </td>
        <td>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>

              </mat-panel-title>
            </mat-expansion-panel-header>
            <p>
              C/C++<br>
              Java<br>
              Python<br>
              Kotlin<br>
            </p>
          </mat-expansion-panel>
        </td>
      </tr>
    </tbody>
  </table>
</div>
