<table>
  <tbody>
    <tr>
      <td>
        <img src="assets/profile.jpg" style="width:300px;">
      </td>
      <td style="vertical-align: middle;">
        <h1>Karsten Roland</h1>
        <h2>Portfolio</h2>
        <p>
          I am a senior at UW-Stout pursuing a bachelor's degree in Computer Science.<br><br>
          I am putting this webpage together as a demonstration of my skills and expect it to evolve as they improve.<br><br>
          Below are a few of the skills I've picked up during my time here as well as links to my socials.
        </p>
      </td>
    </tr>
  </tbody>
</table>
