<table>
  <tbody>
    <tr>
      <td>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Object-Oriented Languages
            </mat-panel-title>
          </mat-expansion-panel-header>
          <tr><td>HTML5</td><td>TypeScript</td></tr>
          <tr><td>CSS</td><td></td></tr>
          <tr><td>PHP</td><td></td></tr>
          <tr><td>JavaScript</td><td></td></tr>
          <tr><td></td><td></td></tr>
          <tr><td></td><td></td></tr>
          <tr><td></td><td></td></tr>
        </mat-expansion-panel>
      </td>
      <td>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Web and API Development
            </mat-panel-title>
          </mat-expansion-panel-header>
          <table>
            <tbody>
              <tr style="text-align: left;"><th>Used</th><th>Encountered</th></tr>
              <tr><td>HTML5</td><td>TypeScript</td></tr>
              <tr><td>CSS</td><td></td></tr>
              <tr><td>PHP</td><td></td></tr>
              <tr><td>JavaScript</td><td></td></tr>
              <tr><td></td><td></td></tr>
              <tr><td></td><td></td></tr>
              <tr><td></td><td></td></tr>
            </tbody>
          </table>
          <p>
            HTML5<br>
            CSS<br>
            PHP<br>
            JavaScript<br>
            React<br>
            Node<br>
            Express<br>
            Angular<br>
          </p>
        </mat-expansion-panel>
      </td>
      <td>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Development Environments
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>
            IntelliJ<br>
            Eclipse<br>
            Visual Studio 2022<br>
            Visual Studio Code<br>
          </p>
        </mat-expansion-panel>
      </td>
    </tr>
  </tbody>
</table>
