<table>
  <tbody>
    <tr>
      <td>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              General Skills
            </mat-panel-title>
          </mat-expansion-panel-header>
          <table>
            <tbody>
              <tr>
                <td class="width-125">Data Structures</td>
                <td class="width-125">Algorithms</td>
              </tr>
              <tr><td>Agile and Scrum</td><td>Unit Testing</td></tr>
              <tr><td>GitHub</td><td>Version Control</td></tr>
              <tr><td>UI/UX Design</td><td>Regex</td></tr>
              <tr><td>Jira</td><td>Confluence</td></tr>
            </tbody>
          </table>
        </mat-expansion-panel>
      </td>
      <td>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Languages
            </mat-panel-title>
          </mat-expansion-panel-header>
          <table>
            <tbody>
              <tr>
                <th class="width-100">Used</th>
                <th class="width-100">Encountered</th>
              </tr>
              <tr><td>C++</td><td>C</td></tr>
              <tr><td>Java</td><td>Python</td></tr>
              <tr><td>JavaScript</td><td>SQLite</td></tr>
              <tr><td>Kotlin</td><td>NoSQL</td></tr>
              <tr><td>MySQL</td><td></td></tr>
              <tr><td></td><td></td></tr>
              <tr><td></td><td></td></tr>
            </tbody>
          </table>
        </mat-expansion-panel>
      </td>
      <td>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Web and API Development
            </mat-panel-title>
          </mat-expansion-panel-header>
          <table>
            <tbody>
              <tr style="text-align: left;">
                <th class="width-100">Used</th>
                <th class="twidth-100">Encountered</th>
              </tr>
              <tr><td>HTML5</td><td>TypeScript</td></tr>
              <tr><td>CSS</td><td>Angular</td></tr>
              <tr><td>PHP</td><td>esbuild</td></tr>
              <tr><td>JavaScript</td><td></td></tr>
              <tr><td>React</td><td></td></tr>
              <tr><td>Node</td><td></td></tr>
              <tr><td>Express</td><td></td></tr>
            </tbody>
          </table>
        </mat-expansion-panel>
      </td>
    </tr>
  </tbody>
</table>
